<a href="https://colab.research.google.com/github/Shafia-09/Python_Learner/blob/main/Day_2_Assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Difference between the tuples and list

Tuples
*   In Python tuples are similar to lists,unlike lists they are immutable
     meaning they cannot be changed
*   You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.
*   The construction of a tuples use ( ) with elements separated by commas.

Lists
*   Lists can be thought of the most general version of a sequence in Python.
*   Unlike strings, they are mutable, meaning the elements inside a list can be changed
*   Lists are constructed with brackets [ ] and commas separating every element in the list

In [ ]:
#2 How list is different from an array

Lists

*   Lists can be thought of the most general version of a sequence in Python.
*   Unlike strings, they are mutable, meaning the elements inside a list can be changed
*   Lists are constructed with brackets [ ] and commas separating every element in the list

Arrays

*   An array in Python, using the array module, is a fixed-size, ordered collection of elements where all elements have the same data type.
*   the array module provides a basic form of arrays in Python, for more advanced array operations and functionalities

In [4]:
#3 Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

#append()
my_list = []
my_list.append(1)
my_list.append('hello')
my_list.append(2.7)
print(my_list)

[1, 'hello', 2.7]

In [8]:
#copy()
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
copied_list = original_list.copy()

In [6]:
#clear
my_list = [1, 'hello', 2.7]
my_list.clear()
print("Empty List:", my_list)

Empty List: []

In [13]:
#count
my_list = [1, 2, 3, 4, 5, 6, 3, 8]
my_list.count(3)

2

In [16]:
#extends()
my_list1 = [1, 2, 3]
my_list2 = ['a', 'b', 'c']
my_list1.extend(my_list2)
print("Extended List:", my_list1)

Extended List: [1, 2, 3, 'a', 'b', 'c']

In [18]:
#index()
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
index_of_6 = my_list.index(6)
print("Index of 6:", index_of_6)

Index of 6: 5

In [20]:
#insert()
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
my_list.insert(8, 9)
print("Modified List:", my_list)

Modified List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#pop()
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
removed_element = my_list.pop(7)
print("Modified List:", my_list)
print("Removed Element:", removed_element)

Modified List: [1, 2, 3, 4, 5, 6, 7, 9]
Removed Element: 8

In [24]:
#reverse
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list.reverse()
print("Reversed List:", my_list)

Reversed List: [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
#sort()
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
print("Sorted List:", my_list)

Sorted List: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [26]:
#min()
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
minimum_value = min(my_list)
print("Minimum Value:", minimum_value)

Minimum Value: 1

In [28]:
#max()
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
maximum_value = max(my_list)
print("Maximum Value:", maximum_value)

Maximum Value: 9

In [30]:
#sum()
my_list = [3, 1, 4, 8, 5, 9, 2, 6, 7, 3, 5]
sum_of_elements = sum(my_list)
print("Sum of Elements:", sum_of_elements)

Sum of Elements: 53

In [36]:
#4 How would you divide the list into two parts?
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
midpoint = len(my_list) // 2
First_part = my_list[:midpoint]
Second_part = my_list[midpoint:]
print("First part is:", First_part)
print("Second part is:", Second_part)

First part is: [10, 20, 30, 40, 50]
Second part is: [60, 70, 80, 90, 100]

In [35]:
#5 how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
#Eg A = [1,2,3,4,5,6,7,8,9,21,23,24] Filter_lsit = [3,6,9,21,24] output_list = [6,24]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 41, 43, 44]

filtered_list = [num for num in my_list if num % 3 == 0]
output_list = [num for num in filtered_list if num % 2 == 0]

print("Filtered List:", filtered_list)
print("Output List:", output_list)

Filtered List: [3, 6, 9]
Output List: [6]

In [39]:
#7 Write python program to join, merge, concatenate the two dictionaries

 #join
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
print("Joined Dictionary:", dict1)

Joined Dictionary: {'a': 1, 'b': 3, 'c': 4}

In [38]:
#merge
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = dict(dict1, **dict2)
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 3, 'c': 4}

In [40]:
# concatenate
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
concatenated_dict = {**dict1, **dict2}
print("Concatenated Dictionary:", concatenated_dict)

Concatenated Dictionary: {'a': 1, 'b': 3, 'c': 4}

In [42]:
#8 How would you check a specific keys from the dictionary??
#To check if a specific key exists in a dictionary in Python, you can use the in operator or the get() method.

# In operator
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
if 'b' in my_dict:
    print("Key 'b' exists in the dictionary.")
else:
    print("Key 'b' does not exist in the dictionary.")

Key 'b' exists in the dictionary.

In [58]:
#11 How would you sum the list of tuple and sum of tuple of list
#list = [(2,3),(4,5),(6,4)] output= [5,9,10]
#tuple =([2,3],[4,5],[6,4]) output = (5,9,10)

# List of tuples
list_tuple = ([2, 3], [4, 5], [6, 4])
sum_result = tuple(sum(sublist) for sublist in list_tuple)
print("Sum of lists in the tuple:", sum_result)

# Tuple of lists
tuple_list = [(2, 3), (4, 5), (6, 4)]
sum_result = [sum(t) for t in tuple_list]
print("Sum of tuples in the list:", sum_result)

Sum of lists in the tuple: (5, 9, 10)
Sum of tuples in the list: [5, 9, 10]

In [54]:
#12 FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY
dict = {'a': 1, 'b': 2, 'c': 2, 'd': 3, 'e': 2, 'f': 4}

frequencies = {}
for value in dict.values():
    if value in frequencies:
        frequencies[value] += 1
    else:
         frequencies[value] = 1

for value, frequency in frequencies.items():
    print(f"The frequency of value {value} is: {frequency}")

The frequency of value 1 is: 1
The frequency of value 2 is: 3
The frequency of value 3 is: 1
The frequency of value 4 is: 1

In [59]:
#10 We know that tuple is immutable, do any thing and add element to the tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
# Concatenate tuples
new_tuple = tuple1 + tuple2
print(new_tuple)

(1, 2, 3, 4, 5, 6)